:root {
    --primary-color: #06AED5;
    --secondary-color: #4DA167;
    --accent1-color: #086788;
    --accent2-color: #19381F;
    --accent3-color: #FAF37A;
    --accent4-color: black;
    --heading-font: "Bebas Neue";
    --body-font: "Inter"; 
}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent4-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.mainnav a {
    text-decoration: none;
    color: var(--accent3-color)
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero article {
    position: absolute;
    top: 80px;
    margin: 35px;
    background-color: var(--accent1-color);
    font-size: 0.9rem;
    text-align: justify;
}

.hero article img {
    float: right;
    margin: 30px 30px;
    width: 125px;
}

.hero p {
    color: white;
}